.setting {
    align-items: center;
    background-color: var(--clr-element-dark);
    border-radius: .5rem;
    display: flex;
    justify-content: space-between;
    padding: .5rem 1rem;
    -webkit-user-select: none;
    user-select: none;
    width: 100%;
}