.auth {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    height: 100%;
    padding: 1rem;
    text-align: center;
    width: fit-content;

    .copyright {
        color: var(--clr-text-secondary);
        font-size: .875rem;
        padding: 2rem;
    }

    .errorText {
        color: var(--clr-error);
        white-space: pre-wrap;
    }

    input {
        text-align: center;
    }

    .loader {
        align-items: center;
        background-color: var(--clr-element-glass);
        border: solid 2px var(--clr-element-light);
        border-radius: 1rem;
        display: flex;
        gap: .5rem;
        height: 3.5rem;
        justify-content: center;
        padding: 1rem;
        width: 100%;
    }

    .loader svg {
        animation: 1500ms loading linear infinite
    }
}

.auth>div {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    input {
        width: 100%;
    }

    .logo {
        display: grid;
        place-items: center;
        padding: 2rem .5rem;
        padding-bottom: 0;
    }

    p {
        margin: 0;
    }
}

@keyframes loading {
    0% {
        rotate: 0deg
    }

    100% {
        rotate: 360deg
    }
}