.container {
    container-type: inline-size;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.outer {
    box-shadow: hsl(245, 83%, 53%, 43%) 0 -5rem 15.625rem;
    border-radius: 2rem;

    max-width: 100rem;
    width: 60%;
}

@container (width < 664px) {
    .outer {
        aspect-ratio: 9/16;
    }
}

@container (width >=664px) {
    .outer {
        aspect-ratio: 16/9;
    }
}