.filters {
    animation: 300ms forwards slideInFade ease;
    background-color: var(--clr-element-glass);
    -webkit-backdrop-filter: blur(60px);
    backdrop-filter: blur(60px);
    border: solid 2px var(--clr-element);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: 1rem;
    position: absolute;
    top: 4rem;
    width: 16.25rem;
    z-index: 1;
}

@keyframes slideInFade {
    0% {
        margin-top: -2rem;
        opacity: .5;
    }

    100% {
        margin-top: unset;
        opacity: 1;
    }
}