.messages {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    justify-content: flex-start;
    overflow-y: auto;
    padding: 1rem;
    width: 100%;
}

.view {
    display: flex;
    height: 100%;
}