.message {
    align-items: flex-start;
    animation: 150ms fadeIn forwards ease;
    border-radius: 1rem;
    display: flex;
    gap: 1rem;
    justify-content: flex-start;
    line-height: 1.5rem;
    overflow-wrap: anywhere;
    padding: 1rem;
    transition: all 300ms ease;
    width: 100%;

    .attachments {
        display: flex;
        flex-wrap: wrap;
        gap: .5rem;
    }

    .attachments img {
        border-radius: 1rem;
        max-height: 40rem;
        max-width: 75%;
    }

    .content {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        gap: .25rem;
        justify-content: center;
        width: 100%;
    }

    .info {
        align-items: center;
        display: flex;
        justify-content: space-between;
        width: 100%;

        .username {
            cursor: pointer;
            font-weight: 700;
        }

        .username:hover {
            text-decoration: underline;
        }

        .time {
            color: var(--clr-text-secondary);
            font-size: .875rem;
            font-weight: 300;
        }
    }

    .mention {
        background-color: var(--clr-text);
        border-radius: .1875rem;
        color: var(--clr-background);
        cursor: pointer;
        font-weight: 600;
        padding: 0 .125rem;
        white-space: nowrap;
    }

    p,
    pre,
    code {
        margin: 0;
        white-space: pre-wrap;
    }

    .reactions {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        gap: .5rem;
        justify-content: flex-start;
        margin-top: .25rem;
        width: 100%;
    }
}

.message:hover {
    background-color: var(--clr-element-dark);
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1;
    }
}